.home {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  margin: 10px 0;
  width: 100%;

  &__title {
    color: var(--color-text);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
  }

  &__hr {
    margin: 0 auto;

    width: 50%;
  }
}

.home-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;

  &__icon {
    cursor: pointer;

    min-height: 100px;
    min-width: 100px;

    fill: var(--color-text);

    &:hover {
      transform: scale(1.1);
      transition: all 0.2s cubic-bezier(0.075, 0.52, 0.165, 1);
    }
    transition: all 0.2s ease-out;
  }

  &__title {
    font-size: 2rem;
    color: var(--color-text);
  }

  animation: not-found-load 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-header-drop {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes not-found-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
