.main {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background: var(--color-background);
  padding-top: var(--header-height);

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
